// src/styles/globals.scss
@import "./variables.scss";
// 1) 기본 reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// 2) html / body 기본 스타일 + 화면 정중앙 배치
html,
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family-sans, sans-serif;
  // overflow: hidden;
}

.global-body {
  width: 100%;
  max-width: 480px; // 예시, 원하는 중앙 폭
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
